Etudiant-mm_authorReco/.idea/
Etudiant-mm_langModel/.idea/
Etudiant-mm_useLangModel/.idea/

Etudiant-mm_authorReco/.idea/**
Etudiant-mm_langMode/.idea/**
Etudiant-mm_useLangModel/.idea/**

**/*.class
